<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{ chars|default:"Home"|title }} - Word Puzzle Solver</title>

    <!-- SEO Optimizations -->
    <meta content="Word Puzzle Solver" name="keywords">
    <meta content="Solve the word problem in much easier way then ever was." name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="Word Puzzle Solver">
    <meta property="og:image" content="http://words.hem.xyz.np/static/words/img/word-puzzle.png">
    <meta property="og:url" content="http://words.hem.xyz.np/">
    <meta property="og:site_name" content="Word Puzzle Solver">
    <meta property="og:description" content="Solve the word problem in much easier way then ever was.">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="http://words.hem.xyz.np/">
    <meta name="twitter:title" content="Word Puzzle Solver">
    <meta name="twitter:description" content="Solve the word problem in much easier way then ever was.">
    <meta name="twitter:image" content="http://words.hem.xyz.np/static/words/img/word-puzzle.png">

    <!-- Favicon -->
    <link href="/static/words/img/favicon.ico" rel="icon">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12">
            <div class="card mt-5">
                <div class="card-header text-center"><b>Word Puzzle Solver</b></div>
                <img class="card-img-top" src="/static/words/img/word-puzzle.png" alt="Word Puzzle Solver">
                <div class="card-body">
                    <p class="card-subtitle text-muted">
                        Word Puzzle Solver is designed to solve your dictionary words related problem.
                        Install any word puzzle related app and try to solve the problem in much easier way then ever was.
                    </p>
                    <hr>
                    <form method="post">
                        <div class="form-group">
                            <label for="chars">Display Characters</label>
                            <input type="text" class="form-control" name="chars" value="{{ chars|default:"words" }}" placeholder="Type characters to make word">
                        </div>
                        <div class="form-group">
                            <label for="number">Number of Letter</label>
                            <input class="form-control" id="number" name="number" value="{{ number|default:"4" }}">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Filter from 113,809 words</button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="card text-center mb-5">
                <div class="card-header">
                    Total result : {{ words|length }}
                </div>
                <div class="card-body">
                    {% for w in words %}
                        <h5 class="card-title">{{ forloop.counter }}. {{ w }}</h5>
                    {% empty %}
                        <h5>No data</h5>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
</body>
</html>
